* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 50px !important;
    font-weight: 900 !important;
}

.card {
    border: none !important;
}

p {
    font-size: 22px;
    font-weight: 500;
}

.logo-weather {
    background-color: rgba(247, 163, 99, 0.877);
    width: 110px !important;
    height: 180px;
    padding: 5px;
}

.text-time {
    font-size: 12px !important;
}

.btn {
    background-color: rgb(250, 127, 33) !important;
    color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.644) !important;
    border-radius: 15px !important;
    font-size: 18px;
}
.btn:hover {
    background-color: rgb(116, 174, 29) !important;
    border: 1px solid black !important;
}

h3 {
    font-size: 28px;
    font-weight: bolder;
    margin-top: 20px;
}

canvas {
    min-height: 350px;
    max-width: 250px;
    padding: 10px;
}

h4 {
    font-size: 18px !important;
    font-weight: 900 !important;
}
